body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #28174e;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
.body__cloud {
  -webkit-animation-name: cloud;
          animation-name: cloud;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.body__star {
  -webkit-animation-name: star;
          animation-name: star;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translate(-40%, 50%);
}
.body__ufo {
  -webkit-animation-name: ufo;
          animation-name: ufo;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translate(-10%, -30%);
}
.body__rocket {
  -webkit-animation-name: rocket;
          animation-name: rocket;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translate(70%, 60%);
}
.body__flag {
  position: absolute;
  width: 10rem;
  left: 30rem;
  top: 30rem;
  fill: black;
  stroke: black;
}
.body__celeb {
  position: absolute;
  width: 100vh;
  height: 30rem;
  top: calc( -200px - 7rem);
  left: 25rem;
}
.body__celeb__g {
  fill: #9b1b1b;
  stroke: white;
  stroke-width: 1rem;
}
.body__star-btn {
  position: absolute;
  width: 10rem;
  top: 10rem;
  left: 20vh;
  -webkit-animation-name: star-btn;
          animation-name: star-btn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.body__star-btn-right {
  position: absolute;
  width: 10rem;
  left: 80vw;
  top: 10rem;
  -webkit-animation-name: star-btn-r;
          animation-name: star-btn-r;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.body__btn {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 25rem;
  left: 22vh;
  background-color: #a73f3f;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4rem;
  border: 1px solid white;
  cursor: pointer;
  font-size: 3rem;
}
.body__man {
  position: absolute;
  fill: black;
  stroke: black;
  width: 10rem;
  transform: translate(500%, 350%);
  -webkit-animation-name: man;
          animation-name: man;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  fill: #c7ae88;
  stroke: none;
}

.star-left {
  fill: #fdfd5e;
  stroke: black;
}

.fire {
  fill: black;
}

.flag__stik {
  fill: #967b54;
}
.flag__treug {
  fill: white;
  -webkit-animation-name: flag;
          animation-name: flag;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.running-delay {
  -webkit-animation-play-state: running !important;
          animation-play-state: running !important;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.running {
  -webkit-animation-play-state: running !important;
          animation-play-state: running !important;
}

.paused {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.display-none {
  display: none;
}

.ufo-eyes {
  fill: white;
  -webkit-animation-name: ufo-eyes;
          animation-name: ufo-eyes;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn-pusk {
  position: absolute;
  width: 7rem;
  height: 7rem;
  transform: translate(640%, 250%);
  cursor: pointer;
  opacity: 0;
  -webkit-animation-name: btn-pusk;
          animation-name: btn-pusk;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.btn-pusk__body {
  fill: #55bd68;
  stroke: black;
  stroke-width: 0.15rem;
}
.btn-pusk__body:hover {
  fill: #2c6a2c;
}
.btn-pusk__center {
  fill: none;
  stroke: black;
  stroke-width: 0.3rem;
  stroke-linecap: round;
}
.btn-pusk__top {
  fill: none;
  stroke: black;
  stroke-width: 0.3rem;
  stroke-linecap: round;
}

@-webkit-keyframes cloud {
  25% {
    transform: translate(-0.5%, -0.5%);
  }
  50% {
    transform: translate(-0.5%, 0.5%);
  }
  75% {
    transform: translate(0.5%, 0.5%);
  }
  100% {
    transform: translate(0.5%, -0.5%);
  }
}

@keyframes cloud {
  25% {
    transform: translate(-0.5%, -0.5%);
  }
  50% {
    transform: translate(-0.5%, 0.5%);
  }
  75% {
    transform: translate(0.5%, 0.5%);
  }
  100% {
    transform: translate(0.5%, -0.5%);
  }
}
@-webkit-keyframes star {
  25% {
    transform: translate(-30%, 45%);
  }
  50% {
    transform: translate(-10%, 40%);
  }
  75% {
    transform: translate(15%, 35%);
  }
  100% {
    transform: translate(50%, 30%);
  }
}
@keyframes star {
  25% {
    transform: translate(-30%, 45%);
  }
  50% {
    transform: translate(-10%, 40%);
  }
  75% {
    transform: translate(15%, 35%);
  }
  100% {
    transform: translate(50%, 30%);
  }
}
@-webkit-keyframes ufo {
  25% {
    transform: translate(10%, 0%);
  }
  50% {
    transform: translate(50%, 15%);
  }
  75% {
    transform: translate(30%, 30%);
  }
  100% {
    transform: translate(20%, 80%);
  }
}
@keyframes ufo {
  25% {
    transform: translate(10%, 0%);
  }
  50% {
    transform: translate(50%, 15%);
  }
  75% {
    transform: translate(30%, 30%);
  }
  100% {
    transform: translate(20%, 80%);
  }
}
@-webkit-keyframes ufo-eyes {
  100% {
    fill: #324D5B;
  }
}
@keyframes ufo-eyes {
  100% {
    fill: #324D5B;
  }
}
@-webkit-keyframes rocket {
  100% {
    transform: translate(70%, -50%);
  }
}
@keyframes rocket {
  100% {
    transform: translate(70%, -50%);
  }
}
@-webkit-keyframes btn-pusk {
  100% {
    opacity: 100%;
  }
}
@keyframes btn-pusk {
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes flag {
  50% {
    fill: #4c46f3;
  }
  100% {
    fill: #eb6565;
  }
}
@keyframes flag {
  50% {
    fill: #4c46f3;
  }
  100% {
    fill: #eb6565;
  }
}
@-webkit-keyframes star-btn {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes star-btn {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes star-btn-r {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes star-btn-r {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes man {
  75% {
    transform: translate(570%, 345%);
    opacity: 1;
  }
  100% {
    transform: translate(575%, 340%);
    opacity: 0;
  }
}
@keyframes man {
  75% {
    transform: translate(570%, 345%);
    opacity: 1;
  }
  100% {
    transform: translate(575%, 340%);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */